$bgc:#F3F6F4;
$fontColorlight:#7EA08B;
$fontColordark:#3D5144;
$barBgc:#D8E2DC;
$redBgc:#FFCAD4;
$textBgc:#fff;
$titlefonts: 'Caveat',
cursive;
$fonts: 'Rubik',
sans-serif;
$shadow:drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));